<figure>
   <a href="{{ include.img }}" data-fancybox data-caption="{{ include.caption }}">
   <img src="{{ include.img }}" alt="{{ include.caption }}" />
   </a>
   <figcaption>{{ include.caption }}</figcaption>
</figure>