<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="container-fluid name-header mono no-print">
      <div class="row align-items-center justify-content-center">
        <div class="col-xl-6">
          <h1 class="hero-header">Carlos Asmat</h1>
          <p>I make <mark>robots</mark> that</br>work in the <mark>real world</mark>.</p>
        </div>
      </div>
    </div>


    {% include header.html %}

    <div id="page-content" class="container-fluid resume_container">
      {% include resume.html %}
    </div>

    {% include footer.html %}

  </body>

</html>
